body {
  background-color: beige;
  color: lightcoral;
  font-family: Arial, sans-serif;
}

nav {
  background-color: rgb(249, 197, 205);
  padding: 15px;
  text-align: center;
}

nav a {
  color: lightcoral;
  margin: 0 10px;
}

section {
  margin: 5px;
  padding: 5px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: rgb(19, 74, 56);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(19, 74, 56);
}

#Experience ul {
  list-style: none;
}

#Experience li {
  background-color: rgb(249, 197, 205);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Connect ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

#Connect a {
  color: lightcoral;
}

#Skills ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

#leave-message {
  margin-top: 20px;
}

#leave-message form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#leave-message label {
  font-weight: bold;
}

#leave-message input,
#leave-message textarea {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

#leave-message button {
  background-color: lightpink;
  color: hotpink;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

#messages li {
  margin-bottom: 10px;
}

#messages span {
  margin-left: 10px;
}

@media (max-width: 600px) {
  #leave-message input,
  #leave-message textarea {
    font-size: 14px;
    padding: 8px;
  }

  #leave-message button {
    font-size: 14px;
    padding: 8px;
  }
}

#Projects ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

#Projects li {
  padding: 10px;
  border: 1px solid lightpink;
}
